<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card" th:fragment="card(product)">
    <div class="photo">
        <img src="https://s-media-cache-ak0.pinimg.com/236x/3b/36/ca/3b36ca3afe0fa0fd4984b9eee2e154bb.jpg" th:src="'data:image/jpeg;base64,'+${product.image}">
    </div>
    <div class="description">
        <h2 th:text="${product.title}">Classic Peace Lily</h2>
        <i><h1 th:text="${product.category.name}">Default</h1></i>
        <h1 th:text="${'$' + product.price}">$18</h1>
        <h1 th:text="${'qty. '+product.quantity}">20</h1>
        <p  th:text="${product.description}">Desc</p>
        <button sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{'/cart/add/'+${product.id}+'/1'}" class="add-to-cart" th:text="#{card.addtocart}"></a>
        </button>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <button class="editBtn" th:href="@{'/admin/products/findOne/'+ ${product.id}}" data-toggle="modal" data-target="#add-product" th:text="#{card.editbtn}"></button>
            <button th:href="@{'/admin/products/delete/'+ ${product.id}}" data-toggle="modal" data-target="#confirm-delete" th:text="#{profile.deletebtn}"></button>
        </div>
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: grey;">
                    <p th:text="#{card.deletetitle}+ ' ' +${product.title}"></p>
                </div>
                <div class="modal-body" style="color: grey;">
                    <p th:text="#{card.delettxt}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{profile.cancelbtn}"></button>
                    <a class="btn btn-danger btn-ok" href="" th:text="#{profile.deletebtn}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>