<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/header :: headerfiles(~{::title}, ~{::link}, ~{::script})">

    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/card.css}"/>
    <script th:src="@{js/index.js}" type="text/javascript"></script>

</head>
<body>
<div th:replace="layouts/navbar :: navbar"></div>

<div>
    <div class="py-5 text-center text-white">
    <div class="container">
        <th:block th:each="i: ${#numbers.sequence(0, 9 - 1)}">
            <div class="row pb-5" >
                <div class="col">
                    <div th:replace="layouts/card :: card"></div>
                </div>
                <div class="col">
                    <div th:replace="layouts/card :: card"></div>
                </div>
                <div class="w-100"></div>
            </div>
        </th:block>

    </div>
</div>
</div>
</body>
</html>