<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: headerfiles(~{::title}, ~{::link}, ~{::script})">

  <title>Contact Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}"/>
  <script th:src="@{js/index.js}" type="text/javascript"></script>

</head>
<body>
<div class="overlay"></div>
<div class="spanner">
  <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <p>Sending Email...</p>
</div>
<div th:replace="layouts/navbar :: navbar"></div>

<div th:if="${(param.success != null) and (param.success[0] == '1')}">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="myToast"
  style="position: absolute;left: 50%; margin-left: -82px;">
    <div class="toast-header">
      <strong class="mr-auto">Message</strong>
      <small>1 sec ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body" th:text="#{contact.emailsent}">
    </div>
  </div>
</div>

<div class="container">
  <div class="wrapper">
    <div class="form">
      <div class="left-col">
        <img src="img/ellipse1.png" class="img1" alt="">
        <h2 th:text="#{contact.leftheader}"></h2>
        <div class="container-img">
         <img th:src="@{/images/support_call.png}">
        </div>

      </div>
      <div class="right-col">
        <h2 th:text="#{contact.getintouch}"></h2>
        <form th:action="@{/sendmail}" method="POST">
          <div class="result"></div>
          <div class="form-group">
            <input id="name" name="name" type="text" th:placeholder="#{contact.name}">
          </div>

          <div class="form-group">
            <input id="email" name="email" type="email" th:placeholder="#{contact.email}">
          </div>

          <div class="form-group">
            <textarea id="message" name="message" class="form-control" tabindex="4"
                      th:placeholder="#{contact.message}" required></textarea>
          </div>
          <button id="submit" type="submit" th:text="#{contact.sendbtn}"></button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#submit').on('click', function(){
    $("div.spanner").addClass("show");
    $("div.overlay").addClass("show");
  });
  var option = {
    animation : true,
    delay : 2000,
  };
  window.onload = (event) => {
    let myAlert = document.getElementById('myToast');
    if (myAlert) {
      let bsAlert = new bootstrap.Toast(myAlert, option);
      bsAlert.show();
    }
  };
</script>
</body>
</html>