<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: headerfiles(~{::title}, ~{::link}, ~{::script})">

  <title>Contact Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}"/>
  <script th:src="@{js/index.js}" type="text/javascript"></script>

</head>
<body>
<div th:replace="layouts/navbar :: navbar"></div>

<div class="py-5 text-center text-white bg-primary fill-body">
  <div class="container py-5">
    <div class="row py-5">
      <div class="mx-auto col-lg-10">
        <h1 class="display-4 mb-4 ">Contact Page</h1>
      </div>
    </div>
  </div>
</div>
</body>
</html>