<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: headerfiles(~{::title}, ~{::link}, ~{::script})">

	<title>Welcome Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}"/>
	<script th:src="@{/js/index.js}" type="text/javascript"></script>

</head>
<body>
	<div th:replace="layouts/navbar :: navbar"></div>

	<div class="py-5 text-center text-white bg-primary fill-body">
		<div class="container py-5">
			<div class="row py-5">
				<div class="mx-auto col-lg-10">
					<h1 class="display-4 mb-4 ">Welcome To AIKA Store </h1>
					<p class="lead mb-5">There is nothing more rare, nor more beautiful, than a woman being unapologetically herself; comfortable in her perfect imperfection. To me, that is the true essence of beauty.
					</p>
					<a th:href="@{/register}" href="#" class="btn btn-lg btn-outline-light mx-1 index-btn">Register Account</a>
					<a th:href="@{/login}" href="#" class="btn btn-lg btn-outline-light mx-1 index-btn">Log In</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>