@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0
}
body{
    font-family: 'Exo', sans-serif;
    background: #aedaa6;
}
input:active, input:focus, textarea:active, textarea:focus {
    outline: none;
}

.spanner{
    position:absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display:block;
    text-align:center;
    height: 300px;
    color: #FFF;
    z-index: 1000;
    visibility: hidden;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    z-index: 1000;
}
.show{
    visibility: visible;
}

.spanner, .overlay{
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.spanner.show, .overlay.show {
    opacity: 1
}

textarea {
    display: inline !important;
    border: 1px solid #5EB4CB !important;
    box-sizing: border-box !important;
    border-radius: 20px !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    color: #9C9C9C !important;
    font-family: inherit !important;
    padding:13px 25px !important;
    background: transparent !important;
    margin-bottom: 20px !important;
    width:350px !important;
    max-width: 100% !important;
}
input {
    border: 1px solid #5EB4CB;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 300;
    font-size: 18px;
    color: #9C9C9C;
    font-family: inherit;
    padding:13px 25px;
    background: transparent;
    margin-bottom: 20px;
    width:350px;
    max-width: 100%;
}

ul{
    list-style: none;
    padding: 0
}

ul li{
    display: inline-block;
    padding-right: 10px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

.wrapper{
    margin: 60px 0 0 0;

}

.form{
    display: flex;
    text-align: center;
    justify-content: center;
}

.left-col{
    width: 40%;
    padding: 50px 30px 0 30px;
    background: linear-gradient(to bottom, #69B9C4, #91C8EB);

}



.left-col h2{
    color:#fff;
    font-size:32px;
    line-height: 37px;
}

.left-col img.img1{
    margin-bottom: 10px;
}

.left-col .container-img{
    margin: 50px 0 0;
    overflow: hidden;
    resize: both;
}

.left-col .container-img img{
   object-fit: contain;
    height: 100%;
    width: 100%;
}

.left-col .soc{
    margin: 100px 0 0;
}
.left-col .soc a img{
    transition: 0.5s;
}
.left-col .soc a img:hover{
    transition: 0.5s;
    transform: scale(1.3)
}

.left-col .soc p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.left-col .soc ul{
    padding:20px 0 50px;
}


.right-col{
    width: 60%;
    padding: 70px 30px 0 30px;
    background: rgba(255, 255, 255, 0.7);

}

.right-col h2{
    margin-bottom: 70px;
    font-size: 30px;
    color: #585858;
    font-weight: 600;
}

.right-col button{
    background: linear-gradient(299.5deg, #6DBAC8 35.53%, #8FC7E9 109.8%);
    border-radius: 18px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 20px;
    border:none;
    cursor: pointer;
}
.right-col button:hover{
    background: linear-gradient(299.5deg, #8FC7E9 35.53%, #6DBAC8 109.8%);
}
@media screen and (max-width: 992px) {
    .form{
        display: block;
    }
    .left-col img.img1{
        display: none
    }

    .right-col, .left-col{
        width:100%;
        padding: 40px 0;
    }

}